button {
  height: 30px;
  margin: 0px 10px;
  border: 0px;
  border-radius: 5px;
  padding: 0px 10px;
  color: #fff;
  -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.09);
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.09);

  &:hover {
    cursor: pointer;
  }

  &:active {
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
}

#add-product-btn {
  background-color: #24ba31;

  &:hover {
    background-color: #1d9627;
  }
}

#delete-product-btn {
  background-color: #fff;
  border: 1px solid #e93333;
  color: #e93333;

  &:hover,
  &:focus {
    background-color: #e93333;
    color: #fff;
  }
}
