.product-container {
  position: relative;
  display: flex;
  min-width: 180px;
  min-height: 180px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.17);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.17);
  margin: 20px 15px;

  .delete-checkbox {
    position: absolute;
    top: 10px;
    left: 15px;

    span {
      font-size: 20px;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .product-items {
    margin-top: 10px;
  }

  .item {
    inline-size: 130px;
    overflow-wrap: break-word;
  }
}

@media (max-width: 480px) {
  .product-container {
    min-width: 170px;
    margin: 10px 15px;
  }
}
