.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccd7f0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.17);
  margin-bottom: 10px;

  .title {
    display: flex;
    font-size: 25px;
  }

  .buttons-container {
    display: flex;
  }
}

@media (max-width: 480px) {
  .header-container {
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 20px;
  }
}
