$marginHorizontal: 30px;

.footer {
  display: flex;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #ccd7f0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 2 4px 2px 4px rgba(0, 0, 0, 0.17);
  position: fixed;
  bottom: 0;
  right: $marginHorizontal;
  left: $marginHorizontal;
  background-color: white;

  .title {
    display: flex;
    text-align: center;
  }
}
