$main-color: black;
$sub-color: gray;

@mixin shrinkLabel {
  top: -14px;
  font-size: 12px;
  color: $main-color;
}

.input-container {
  position: relative;
  margin: 20px 0px;

  .form-input {
    width: 280px;
    background: none;
    background-color: white;
    color: $sub-color;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $sub-color;
    margin-top: 25px;
    height: 35px;

    &:focus {
      outline: none;
    }

    &:focus ~ .form-input-label {
      @include shrinkLabel();
    }
  }

  .error-input {
    border-bottom: 1px solid rgb(242, 68, 37);
  }

  .error-label {
    font-size: 13px;
    color: rgb(242, 68, 37);
  }

  .form-input-label {
    color: $sub-color;
    font-size: 16px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 300ms ease all;

    &.shrink {
      @include shrinkLabel();
    }
  }
}

@media (max-width: 480px) {
  .input-container {
    .form-input {
      width: 100%;
    }
  }
}
