.header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ccd7f0;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.17);
  -webkit-box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.17);

  .title {
    display: flex;
    font-size: 25px;
  }

  .buttons-container {
    display: flex;
  }
}
